/* DEFAULTS ====================================== */
html {
  height: 100%; }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 12px; } }

body {
  font-family: "Ubuntu", sans-serif !important;
  line-height: 1.25rem !important;
  font-weight: 400;
  font-style: normal !important;
  margin: 0;
  position: relative;
  height: auto;
  width: auto;
  background-color: #f7f8fa;
  transition: all ease .3s; }

/* TYPOGRAPHY ===================================== */
h1 {
  font-size: 1.5rem;
  color: #40434a; }
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 1.2rem; } }

h2 {
  font-size: 1.125rem;
  color: #40434a; }

h3 {
  font-size: 1rem;
  color: #40434a; }

p {
  font-size: 0.875rem;
  color: #bec4cb; }

.p-small {
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 0.75rem; }

.p-dark {
  color: #40434a; }

/* HEADER ========================================= */
nav {
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(64, 67, 74, 0.16);
  width: 100%; }
  nav .container-fluid {
    max-width: 1400px; }
    @media (max-width: 991.98px) {
      nav .container-fluid {
        padding-right: 20px !important;
        padding-left: 20px !important; } }
    nav .container-fluid .navbar-collapse {
      flex-grow: 0 !important; }
    nav .container-fluid ul li {
      padding: 0 25px; }
    nav .container-fluid ul .current {
      color: #ff9937; }
    nav .container-fluid .logo {
      margin-right: 25%; }
      nav .container-fluid .logo img {
        width: 100%;
        max-width: 216px;
        height: auto;
        margin: auto !important; }
      @media only screen and (max-width: 992px) {
        nav .container-fluid .logo {
          margin-right: 0%; } }
    nav .container-fluid .cart {
      position: relative;
      cursor: pointer; }
      nav .container-fluid .cart i {
        margin: auto 20px auto 0px; }
      nav .container-fluid .cart .fa-cart-plus {
        color: #ff9937;
        font-size: 1.5rem; }
      nav .container-fluid .cart .number {
        position: absolute;
        top: -15px;
        right: 5px;
        padding: 5px 7px;
        background-color: #be2a0f;
        border-radius: 5px; }
        nav .container-fluid .cart .number p {
          color: #ffffff;
          margin: 0 auto; }

.navbar {
  padding: 0rem !important; }

.navbar-toggler {
  color: #be2a0f !important; }

/* MAIN   ========================================= */
main {
  position: relative;
  padding: 100px 0 60px 0;
  background-image: url("../../images/bg-picture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto; }
  main .container-fluid {
    max-width: 1400px;
    padding-top: 30px;
    margin: 0 auto; }
    main .container-fluid .row {
      padding-left: 10px !important; }
    main .container-fluid .product-info {
      top: 130px;
      text-align: center;
      height: 100%;
      padding-top: 30px;
      background-color: rgba(255, 153, 55, 0.2);
      border: 5px solid #ffffff;
      border-radius: 50px;
      box-shadow: 0 12px 12px 0px rgba(64, 67, 74, 0.3); }
      main .container-fluid .product-info img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        opacity: 50%; }
      main .container-fluid .product-info .product-description {
        padding: 15px;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 100px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.5); }
        main .container-fluid .product-info .product-description .company-name {
          text-transform: uppercase; }
        main .container-fluid .product-info .product-description .review {
          float: left;
          margin-top: 40px;
          margin-bottom: 40px; }
        main .container-fluid .product-info .product-description .desc-price {
          float: right;
          margin-top: 40px;
          margin-bottom: 40px; }
        main .container-fluid .product-info .product-description .desc {
          clear: both;
          color: #40434a; }
      @media only screen and (max-width: 600px) {
        main .container-fluid .product-info {
          border-radius: 25px;
          padding-top: 15px; }
          main .container-fluid .product-info .container {
            padding-right: 0px !important;
            padding-left: 0px !important; }
          main .container-fluid .product-info .product-description {
            margin-top: 20px;
            margin-bottom: 20px; }
            main .container-fluid .product-info .product-description .review {
              float: none;
              margin-top: 20px;
              margin-bottom: 20px; }
            main .container-fluid .product-info .product-description .desc-price {
              float: none;
              margin-top: 0px;
              margin-bottom: 20px; } }
    main .container-fluid .product-grid {
      margin-left: 10px; }
      main .container-fluid .product-grid .newpadding {
        padding: 0 10px !important; }
      main .container-fluid .product-grid .product-card {
        position: relative;
        padding: 20px 20px;
        background-color: #ffffff;
        border-radius: 25px;
        box-shadow: 0 20px 30px 0px rgba(64, 67, 74, 0.3);
        height: 100%; }
        main .container-fluid .product-grid .product-card img {
          width: 100%;
          border-radius: 10px; }
        main .container-fluid .product-grid .product-card .price {
          float: left;
          margin-top: 15px;
          color: #40434a; }
        main .container-fluid .product-grid .product-card .btn-preview {
          font-size: 0.875rem;
          float: right;
          margin-top: 15px;
          margin-bottom: 50px;
          color: #c29a53;
          padding: 0;
          border: none;
          cursor: pointer;
          outline: none; }
        main .container-fluid .product-grid .product-card .add {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 12px 15px;
          background-color: #ff9937;
          color: #ffffff;
          border: none;
          border-bottom-right-radius: 25px;
          border-top-left-radius: 10px; }
          main .container-fluid .product-grid .product-card .add .fa-plus {
            font-size: 0.75rem; }
          main .container-fluid .product-grid .product-card .add:disabled {
            cursor: not-allowed;
            background-color: rgba(255, 153, 55, 0.2); }
        main .container-fluid .product-grid .product-card .add > .fa-plus {
          pointer-events: none; }
      @media only screen and (max-width: 600px) {
        main .container-fluid .product-grid {
          margin-left: -10px !important; } }
    main .container-fluid .card-pagination {
      background-color: transparent !important;
      box-shadow: none !important;
      margin-top: 20px;
      margin-left: 15px; }
      main .container-fluid .card-pagination .page-item {
        margin-left: 15px;
        margin-right: 15px; }
        main .container-fluid .card-pagination .page-item .page-link {
          background-color: transparent !important;
          border: none !important;
          color: #40434a !important; }
        main .container-fluid .card-pagination .page-item .current-link {
          background-color: #ff9937 !important;
          border-radius: 50% !important;
          color: #ffffff !important;
          box-shadow: 0 20px 30px 0px rgba(64, 67, 74, 0.3);
          height: 40px;
          width: 40px;
          text-align: center;
          padding-top: 0.6rem !important; }
        @media only screen and (max-width: 600px) {
          main .container-fluid .card-pagination .page-item {
            margin-left: 0px;
            margin-right: 0px; }
            main .container-fluid .card-pagination .page-item .current-link {
              height: 30px;
              width: 30px; } }
    @media only screen and (max-width: 600px) {
      main .container-fluid .smallpadding {
        padding-left: 0px !important; } }
  main .hero-about {
    height: 50vh;
    min-height: 350px;
    max-height: 893px;
    background-image: linear-gradient(rgba(255, 153, 55, 0.2), rgba(255, 153, 55, 0.2)), url("../../images/about_hero.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    box-shadow: 0 12px 12px 0px rgba(64, 67, 74, 0.3);
    border: 5px solid #ffffff;
    border-radius: 20px; }
  main .about-title {
    margin-bottom: 30px; }
  main .hero-privacy {
    height: 50vh;
    min-height: 350px;
    max-height: 893px;
    background-image: linear-gradient(rgba(255, 153, 55, 0.2), rgba(255, 153, 55, 0.2)), url("../../images/privacy_hero.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    box-shadow: 0 12px 12px 0px rgba(64, 67, 74, 0.3);
    border: 5px solid #ffffff;
    border-radius: 20px; }
  main .privacy-title {
    margin-bottom: 30px; }

/* FOOTER ========================================= */
footer {
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 2px rgba(64, 67, 74, 0.16);
  width: 100%;
  margin: 0;
  z-index: 9999; }
  footer .container-fluid {
    max-width: 1400px; }
    footer .container-fluid .copyright {
      position: relative;
      padding: 0 25px; }
      footer .container-fluid .copyright p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
    footer .container-fluid .social-media {
      padding: 0 25px; }
      footer .container-fluid .social-media .icon {
        margin: 5px;
        height: 40px;
        width: 40px;
        background-color: #bec4cb;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-content: center;
        cursor: pointer;
        transition: color ease 0.5s; }
        footer .container-fluid .social-media .icon i {
          margin: auto; }
        footer .container-fluid .social-media .icon:hover {
          background-color: #ff9937; }
          footer .container-fluid .social-media .icon:hover .fa-facebook-f, footer .container-fluid .social-media .icon:hover .fa-instagram, footer .container-fluid .social-media .icon:hover .fa-twitter {
            color: #ffffff; }
          footer .container-fluid .social-media .icon:hover .fa-instagram {
            color: #ffffff; }
          footer .container-fluid .social-media .icon:hover .fa-twitter {
            color: #ffffff; }
        footer .container-fluid .social-media .icon .fa-facebook-f, footer .container-fluid .social-media .icon .fa-instagram, footer .container-fluid .social-media .icon .fa-twitter {
          color: #40434a;
          font-size: 1.2rem; }

/* SHOPPING CART ================================== */
.shopping-cart {
  position: relative;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  background-color: #f6f8fa;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0px 0px 5px 0px rgba(64, 67, 74, 0.3); }
  .shopping-cart .close {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.5em;
    color: #40434a;
    margin-right: 50px;
    cursor: pointer;
    transition: color ease 0.3s; }
    .shopping-cart .close:hover {
      color: #be2a0f; }
  .shopping-cart .cart-title {
    padding-left: 30px; }
  .shopping-cart .cont-cart {
    padding: 15px !important;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; }
    .shopping-cart .cont-cart::-webkit-scrollbar {
      /* WebKit */
      width: 0;
      height: 0; }
    .shopping-cart .cont-cart .prod-cart {
      background-color: #ffffff;
      border-radius: 25px;
      padding: 10px 15px;
      box-shadow: 0 12px 12px 0px rgba(64, 67, 74, 0.3);
      margin-bottom: 15px;
      transition: all ease .5s; }
      .shopping-cart .cont-cart .prod-cart .col-3 {
        position: relative; }
        .shopping-cart .cont-cart .prod-cart .col-3 img {
          height: auto;
          width: 90%;
          border-radius: 10px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
      .shopping-cart .cont-cart .prod-cart .col-5 {
        position: relative; }
        .shopping-cart .cont-cart .prod-cart .col-5 .prod-name {
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
      .shopping-cart .cont-cart .prod-cart .btn-remove {
        font-size: 0.875rem;
        color: #c29a53;
        padding: 0;
        border: none;
        cursor: pointer;
        outline: none; }
      .shopping-cart .cont-cart .prod-cart .price-cart {
        position: relative; }
        .shopping-cart .cont-cart .prod-cart .price-cart h2 {
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
      .shopping-cart .cont-cart .prod-cart .number-items {
        text-align: center; }
        .shopping-cart .cont-cart .prod-cart .number-items h3 {
          margin-top: 5px !important;
          margin-bottom: 5px !important; }
        .shopping-cart .cont-cart .prod-cart .number-items .add-amount, .shopping-cart .cont-cart .prod-cart .number-items .lower-amount {
          color: #ff9937;
          border: none; }
          .shopping-cart .cont-cart .prod-cart .number-items .add-amount .fa-plus, .shopping-cart .cont-cart .prod-cart .number-items .lower-amount .fa-plus {
            font-size: 0.75rem; }
        .shopping-cart .cont-cart .prod-cart .number-items .lower-amount .fa-minus {
          font-size: 0.75rem; }
  .shopping-cart .pay-info {
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px 15px;
    background-color: #ffffff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0 2px 5px 2px rgba(64, 67, 74, 0.16);
    z-index: 9999; }
    .shopping-cart .pay-info h2 {
      margin-bottom: 30px; }
    .shopping-cart .pay-info h3 {
      margin-bottom: 15px; }
    .shopping-cart .pay-info .line-gray {
      width: 100%;
      height: 0px;
      border: 1px solid #bec4cb30;
      margin-bottom: 15px; }
    .shopping-cart .pay-info .checkout {
      padding: 10px 0;
      background-color: #ff9937;
      color: #ffffff;
      font-size: 1rem;
      text-transform: uppercase;
      text-align: center;
      border: none;
      border-radius: 50px;
      width: 100%;
      box-shadow: 0 20px 30px 0px rgba(64, 67, 74, 0.3); }
      .shopping-cart .pay-info .checkout:disabled {
        cursor: not-allowed;
        background-color: rgba(255, 153, 55, 0.2); }

/* MODAL FORM ======================================= */
.modalForm {
  position: relative;
  display: none;
  position: fixed;
  z-index: 9999999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #f6f8fa; }
  .modalForm .closeModal {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.5em;
    color: #40434a;
    margin-right: 50px;
    cursor: pointer;
    transition: color ease 0.3s; }
    .modalForm .closeModal:hover {
      color: #be2a0f; }
  .modalForm .container-fluid {
    max-width: 1400px;
    padding-top: 30px;
    margin: 0 auto; }
    .modalForm .container-fluid .row {
      padding-left: 0px !important; }
    .modalForm .container-fluid .modal-content {
      padding: 30px;
      background-color: rgba(255, 153, 55, 0.2);
      border: 5px solid #ffffff;
      border-radius: 50px;
      box-shadow: 0 12px 12px 0px rgba(64, 67, 74, 0.3); }
      .modalForm .container-fluid .modal-content .cards-wrapper {
        text-align: center; }
        .modalForm .container-fluid .modal-content .cards-wrapper .col-3 {
          padding-left: 0px !important; }
      .modalForm .container-fluid .modal-content label {
        display: block;
        font-size: 1rem;
        color: #40434a; }
      .modalForm .container-fluid .modal-content input {
        width: 100%;
        padding: 15px;
        background-color: #ffffff;
        color: #40434a;
        font-size: 1rem;
        border: 1px solid #bec4cb;
        border-radius: 12px; }
        .modalForm .container-fluid .modal-content input::placeholder {
          color: #bec4cb; }
        .modalForm .container-fluid .modal-content input:focus:required {
          outline: none; }
      .modalForm .container-fluid .modal-content .error {
        border: 1px solid red !important; }
      .modalForm .container-fluid .modal-content .lineDivider {
        width: 100%;
        height: 0%;
        border: 1px solid #ffffff; }
      .modalForm .container-fluid .modal-content .paymentBottom {
        padding: 10px 0;
        background-color: #ff9937;
        color: #ffffff;
        font-size: 1rem;
        text-transform: uppercase;
        text-align: center;
        border: none;
        border-radius: 50px;
        width: 100%;
        box-shadow: 0 20px 30px 0px rgba(64, 67, 74, 0.3); }
        .modalForm .container-fluid .modal-content .paymentBottom:disabled {
          cursor: not-allowed;
          background-color: rgba(255, 153, 55, 0.2); }
