.containerDiv {
  margin-left: auto;
  margin-right: auto; }

nav .cont-1, main .cont-2, footer .cont-3 {
  padding-left: 50px;
  padding-right: 50px; }

/* DEFAULTS ====================================== */
html {
  background-color: #f6f8fa;
  font-family: "ubuntu", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  height: 100%; }

body {
  margin: 0;
  position: relative;
  height: 100%;
  background-image: url("../../images/bg-picture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.containerDiv {
  max-width: 1400px;
  width: 100%;
  min-height: 50px; }

/* TYPOGRAPHY ===================================== */
h1 {
  font-size: 1.5em;
  color: #40434a; }

h2 {
  font-size: 1.125em;
  color: #40434a; }

h3 {
  font-size: 1em;
  color: #40434a; }

p {
  font-size: 0.875em;
  color: #bec4cb; }

.p-small {
  font-size: 0.75em;
  text-transform: uppercase;
  line-height: 0.7em; }

/* HEADER ========================================= */
nav {
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(64, 67, 74, 0.16);
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 9999;
  width: 100%; }
  nav .cont-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    nav .cont-1 ul {
      width: 33.33%;
      list-style-type: none;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: center;
      padding-inline-start: 0; }
      nav .cont-1 ul li {
        padding: 0 25px; }
    nav .cont-1 .logo {
      width: 33.33%;
      display: flex;
      justify-content: center;
      align-content: center; }
      nav .cont-1 .logo img {
        width: 50%;
        max-width: 100%;
        margin: auto; }
    nav .cont-1 .cart {
      width: 33.33%;
      display: flex;
      justify-content: flex-end;
      align-content: center; }
      nav .cont-1 .cart i {
        margin: auto 50px; }

/* MAIN   ========================================= */
main {
  padding: 130px 0 60px 0; }
  main .cont-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    main .cont-2 .product-info {
      position: relative;
      text-align: center;
      width: 35%;
      height: 100%;
      padding: 40px;
      background-color: #f6f8fa;
      border: 5px solid #ffffff;
      border-radius: 50px;
      box-shadow: 0 2px 5px 0 rgba(64, 67, 74, 0.16); }
      main .cont-2 .product-info img {
        width: 50%;
        height: auto;
        border-radius: 10px;
        opacity: 50%; }
      main .cont-2 .product-info .product-description {
        text-align: left;
        margin-top: 40px;
        margin-bottom: 100px; }
        main .cont-2 .product-info .product-description .company-name {
          text-transform: uppercase; }
        main .cont-2 .product-info .product-description .review {
          float: left;
          margin-top: 40px;
          margin-bottom: 40px; }
        main .cont-2 .product-info .product-description .desc-price {
          float: right;
          margin-top: 40px;
          margin-bottom: 40px; }
        main .cont-2 .product-info .product-description .desc {
          clear: both; }
      main .cont-2 .product-info .arrow-wrapper {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 20px 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        background-color: #ffffff;
        border-radius: 50px; }
        main .cont-2 .product-info .arrow-wrapper .arrow-left, main .cont-2 .product-info .arrow-wrapper .arrow-right {
          background-color: #ff9937;
          color: #ffffff;
          padding: 10px;
          border-radius: 50%;
          height: 20px;
          width: 20px;
          box-shadow: 0 8px 8px 0 rgba(64, 67, 74, 0.2); }
    main .cont-2 .product-grid {
      width: 65%;
      padding-left: 50px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap; }
      main .cont-2 .product-grid .product-card {
        position: relative;
        width: 18%;
        margin-right: 2%;
        margin-bottom: 2%;
        padding: 8px 20px;
        background-color: #ffffff;
        border-radius: 25px;
        box-shadow: 0 2px 5px 0 rgba(64, 67, 74, 0.16); }
        main .cont-2 .product-grid .product-card img {
          width: 100%;
          border-radius: 10px; }
        main .cont-2 .product-grid .product-card .add {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 15px;
          background-color: #ff9937;
          color: #ffffff;
          border: none;
          border-bottom-right-radius: 25px;
          border-top-left-radius: 10px; }

/* FOOTER ========================================= */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 2px rgba(64, 67, 74, 0.16);
  width: 100%;
  margin: 0; }
  footer .cont-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center; }
    footer .cont-3 .copyright {
      width: 50%;
      padding: 0 25px;
      display: flex;
      align-content: center; }
      footer .cont-3 .copyright p {
        margin: auto 0; }
    footer .cont-3 .social-media {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
      padding: 0 25px; }
      footer .cont-3 .social-media .icon {
        margin: 1%;
        height: 40px;
        width: 40px;
        background-color: #bec4cb;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-content: center; }
        footer .cont-3 .social-media .icon i {
          margin: auto; }
