// Variables
$white: #ffffff;
$gray-light: #e3e5e9;
$gray-strong: #bec4cb;
$orange-strong: #fb540b;
$dark: #40434a;
$orange-light: #c29a53;
$red-blood: #be2a0f;

$font-stack: "ubuntu", sans-serif;
$h1-size: 1.5em;
$h2-size: 1.125em;
$h3-size: 1em;
$p-standard: 0.875em;
$p-small: 0.75em;

$shadow-down: 0 2px 5px 0 rgba(64,67,74,0.16);