// Variables
$bg: #f7f8fa;
$white: #ffffff;
$gray-light: #f6f8fa;
$gray-strong: #bec4cb;
$orange-strong: #ff9937;
$dark: #40434a;
$orange-light: #c29a53;
$red-blood: #be2a0f;
$blue-light: #5bc0eb;

$font-stack: "Ubuntu", sans-serif !important;
$h1-size: 1.5rem;
$h2-size: 1.125rem;
$h3-size: 1rem;
$p-standard: 0.875rem;
$p-small: 0.75rem; 

$shadow-down: 0 2px 5px 0 rgba(64,67,74,0.16);
$shadow-down-big: 0 20px 30px 0px rgba(64,67,74,0.3);
$shadow-strong: 0 12px 12px 0px rgba(64,67,74,0.3);
$shadow-up: 0 2px 5px 2px rgba(64,67,74,0.16);
$shadow-left: 0px 0px 5px 0px rgba(64,67,74,0.3);
$shadow-up-left: -1px -1px 10px 0px rgba(64,67,74,0.3);