/* HEADER ========================================= */
nav {
    background-color: $white;
    box-shadow: $shadow-down;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 9999;
    width: 100%;

    .cont-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @extend %cont-padding;

        ul {
            width: 33.33%;
            list-style-type: none;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-content: center;
            padding-inline-start: 0;

            li {
                padding: 0 25px;
            }

            .current {
                color: $orange-strong;
            }
        }
    
        .logo {
            width: 33.33%;
            display: flex;
            justify-content: center;
            align-content: center;

            img {
                width: 50%;
                max-width: 100%;
                margin: auto;
            }
        }
    
        .cart {
            position: relative;
            width: 33.33%;
            display: flex;
            justify-content: flex-end;
            align-content: center;

            i {
                margin: auto 50px;
            }

            .fa-cart-plus {
                color: $orange-strong;
                font-size: 1.5em;
            }

            .number {
                position: absolute;
                top: 17px;
                right: 37px;
                padding: 6px 7px;
                background-color: $red-blood;
                border-radius: 5px;

                p {
                    color: $white;
                    margin: 0 auto;
                }
            }
        }
    }
}



/* MAIN   ========================================= */
main {
    padding:  130px 0 60px 0;
    
    .cont-2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        @extend %cont-padding;

        .product-info {
            position: sticky;
            top: 130px;
            text-align: center;
            width: 35%;
            height: 100%;
            padding: 40px;
            background-color: rgba(190,196,203, 0.2);
            border: 5px solid $white;
            border-radius: 50px;
            box-shadow: $shadow-down-big;

            img {
                width: 80%;
                height: auto;
                border-radius: 10px;
                opacity: 50%;
            }

            .product-description {
                text-align: left;
                margin-top: 40px;
                margin-bottom: 100px;

                .company-name {
                    text-transform: uppercase;
                }
                .review {
                    float: left;
                    margin-top: 40px; 
                    margin-bottom: 40px; 
                }
                .desc-price {
                    float: right;
                    margin-top: 40px; 
                    margin-bottom: 40px; 
                }
                .desc {
                    clear: both;
                    color: $dark;
                }
            }
        }

        .product-grid {
            width: 65%;
            padding-left: 50px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;

            .product-card {
                position: relative;
                width: 18%;
                margin-right: 2%;
                margin-bottom: 2%;  
                padding: 8px 20px;
                background-color: $white;
                border-radius: 25px;
                box-shadow: $shadow-down-big;

                img {
                    width: 100%;
                    border-radius: 10px;
                }

                .price {
                    color: $dark;
                }

                .btn-preview {
                    color: $orange-light;
                    padding: 0;
                    margin-bottom: 15px; 
                    border: none;
                    cursor: pointer;
                    outline: none;
                }

                .add {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: 15px;
                    background-color: $orange-strong;
                    color: $white;
                    border: none;
                    border-bottom-right-radius: 25px;
                    border-top-left-radius: 10px;
                }
            }
        }
    }
}
/* FOOTER ========================================= */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: $white;
    box-shadow: $shadow-up;
    width: 100%;
    margin: 0;

    .cont-3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        @extend %cont-padding;

        .copyright {
            width: 50%;
            padding: 0 25px;
            display: flex;
            align-content: center;

            p {
                margin: auto 0;
            }
        }

        .social-media {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-content: center;
            padding: 0 25px;

            .icon {
                margin: 1%;
                height: 40px;
                width: 40px;
                background-color: $gray-strong;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-content: center;

                i {
                    margin: auto;
                }
            }
        }
    }
}