/* HEADER ========================================= */
nav {
    background-color: $white;
    box-shadow: $shadow-down;
    width: 100%;

    .container-fluid {
        max-width: 1400px;

        @media (max-width: 991.98px){
            padding-right: 20px !important; 
            padding-left: 20px !important;
        }

        .navbar-collapse {
            flex-grow: 0 !important;
        }

        ul {
            li {
                padding: 0 25px;
            }
    
            .current {
                color: $orange-strong;
            }
        }
    
        .logo {
            margin-right: 25%;

            img {
                width: 100%;
                max-width: 216px;
                height: auto;
                margin: auto !important;
            }

            @media only screen and (max-width: 992px) {
                margin-right: 0%;
            }
        }
    
        .cart {
            position: relative;
            cursor: pointer;
    
            i {
                margin: auto 20px auto 0px;
            }
    
            .fa-cart-plus {
                color: $orange-strong;
                font-size: 1.5rem;
            }
    
            .number {
                position: absolute;
                top: -15px;
                right: 5px;
                padding: 5px 7px;
                background-color: $red-blood;
                border-radius: 5px;
    
                p {
                    color: $white;
                    margin: 0 auto;
                }
            }
        }
    }
}
.navbar {
    padding: 0rem !important;
}

.navbar-toggler {
    color: $red-blood !important;
}

/* MAIN   ========================================= */
main {
    position: relative;
    padding:  100px 0 60px 0;
    background-image: url('../../images/bg-picture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;

    .container-fluid {
        max-width: 1400px;
        padding-top: 30px;
        margin: 0 auto;

        .row {
            padding-left: 10px !important;
        }

        .product-info {
            top: 130px;
            text-align: center;
            height: 100%;
            padding-top: 30px;
            background-color: rgba(255,153,55, 0.2);
            border: 5px solid $white;
            border-radius: 50px;
            box-shadow: $shadow-strong;

            
    
            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                opacity: 50%;
            }
    
            .product-description {
                padding: 15px;
                text-align: left;
                margin-top: 40px;
                margin-bottom: 100px;
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.5);
    
                .company-name {
                    text-transform: uppercase;
                }
                .review {
                    float: left;
                    margin-top: 40px; 
                    margin-bottom: 40px; 
                }
                .desc-price {
                    float: right;
                    margin-top: 40px; 
                    margin-bottom: 40px; 
                }
                .desc {
                    clear: both;
                    color: $dark;
                }
            }

            @media only screen and (max-width: 600px) {

                border-radius: 25px;
                padding-top: 15px;

                .container {
                    padding-right: 0px !important;
                    padding-left: 0px !important;
                }

                .product-description {
                    margin-top: 20px;
                    margin-bottom: 20px;

                    .review {
                        float: none;
                        margin-top: 20px; 
                        margin-bottom: 20px; 
                    }
                    .desc-price {
                        float: none;
                        margin-top: 0px; 
                        margin-bottom: 20px; 
                    }
                }
            }
        }
    
        .product-grid {
            margin-left: 10px;

            .newpadding {
                padding: 0 10px !important;
             }
    
            .product-card {
                position: relative; 
                padding: 20px 20px;
                background-color: $white;
                border-radius: 25px;
                box-shadow: $shadow-down-big;
                height: 100%;
    
                img {
                    width: 100%;
                    border-radius: 10px;
                }
    
                .price {
                    float: left;
                    margin-top: 15px;
                    color: $dark;
                }
    
                .btn-preview {
                    font-size: $p-standard;
                    float: right;
                    margin-top: 15px;
                    margin-bottom: 50px;
                    color: $orange-light;
                    padding: 0; 
                    border: none;
                    cursor: pointer;
                    outline: none;
                }
    
                .add {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: 12px 15px;
                    background-color: $orange-strong;
                    color: $white;
                    border: none;
                    border-bottom-right-radius: 25px;
                    border-top-left-radius: 10px;
    
                    .fa-plus {
                        font-size: 0.75rem;
                    }

                    &:disabled {
                        cursor: not-allowed;
                        background-color: rgba(255,153,55, 0.2);
                    }
                }

                // To make sure nothing within the button has pointer-events,
                // clicks inside the button will always be for the button itself.
                .add > .fa-plus {
                    pointer-events: none;
                }
            }

            @media only screen and (max-width: 600px) {
                margin-left: -10px !important;
            }
        }

        .card-pagination {
            background-color: transparent !important;
            box-shadow: none !important;
            margin-top: 20px;
            margin-left: 15px;

            .page-item {
                margin-left: 15px;
                margin-right: 15px;

                .page-link {
                    background-color: transparent !important;
                    border: none !important;
                    color: $dark !important;
                }

                .current-link {
                    background-color: $orange-strong !important;
                    border-radius: 50% !important;
                    color: $white !important;
                    box-shadow: $shadow-down-big;
                    height: 40px;
                    width: 40px;
                    text-align: center;
                    padding-top: 0.6rem !important;
                }

                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-right: 0px;

                    .current-link {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }

        @media only screen and (max-width: 600px) {
            .smallpadding {
                padding-left: 0px !important;
            }
        }
    }

    .hero-about {
        height: 50vh;
        min-height: 350px;
        max-height: 893px;
        background-image: linear-gradient(rgba(255, 153, 55, 0.2), rgba(255, 153, 55, 0.2)), url('../../images/about_hero.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 50px;
        box-shadow: $shadow-strong;
        border: 5px solid $white;
        border-radius: 20px;
    }

    .about-title {
        margin-bottom: 30px;
    }

    .hero-privacy {
        height: 50vh;
        min-height: 350px;
        max-height: 893px;
        background-image: linear-gradient(rgba(255, 153, 55, 0.2), rgba(255, 153, 55, 0.2)), url('../../images/privacy_hero.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 50px;
        box-shadow: $shadow-strong;
        border: 5px solid $white;
        border-radius: 20px;
    }

    .privacy-title {
        margin-bottom: 30px;
    }
}

/* FOOTER ========================================= */
footer {
    left: 0;
    bottom: 0;
    background-color: $white;
    box-shadow: $shadow-up;
    width: 100%;
    margin: 0;
    z-index: 9999;

    .container-fluid {
        max-width: 1400px;
        
        .copyright {
            position: relative;
            padding: 0 25px;

            p {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .social-media {
            padding: 0 25px;

            .icon {
                margin: 5px;
                height: 40px;
                width: 40px;
                background-color: $gray-strong;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-content: center;
                cursor: pointer;
                transition: color ease 0.5s;

                i {
                    margin: auto;
                }

                &:hover {
                    background-color: $orange-strong;

                    .fa-facebook-f {
                        color: $white;
                    }
                    .fa-instagram {
                        color: $white;
                    }
                    .fa-twitter {
                        color: $white;
                    }
                }

                .fa-facebook-f {
                    color: $dark;
                    font-size: 1.2rem;
                }
                .fa-instagram {
                    @extend .fa-facebook-f;
                }
                .fa-twitter {
                    @extend .fa-facebook-f;
                }
            }
        }
    }
}