/* DEFAULTS ====================================== */
html {
    
    height: 100%;
}

body {
    font-family: $font-stack;
    line-height: 1.25rem !important;
    font-weight: 400;
    font-style: normal !important;
    margin: 0;
    position: relative;
    height: auto;
    width: auto;
    background-color: $bg;
    transition: all ease .3s;
}

/* TYPOGRAPHY ===================================== */
h1 {
    font-size: $h1-size;
    color: $dark;
}

h2 {
    font-size: $h2-size;
    color: $dark;
}

h3 {
    font-size: $h3-size;
    color: $dark;
}

p {
    font-size: $p-standard;
    color: $gray-strong;
}
.p-small {
    font-size: $p-small;
    text-transform: uppercase;
    line-height: 0.75rem;
}